# Android
*.apk
*.ap_
*.dex
*.class
.DS_Store
bin/
gen/
local.properties
.gradle/
build/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
out/
.cproject
.c9/
*.launch
.metadata
.recommenders
.vscode/
*.code-workspace
.history/
.swiftpm/
*.xcodeproj/
deploy/
